
<section id="ib3-module--{{template_name}}" class="row">
  {% verbatim %}
  <div class="col-12">
    <h1>{{item.title}}</h1>
    {{item.body | raw}}
    <p class="foo">foo</p>
  </div>
  {% endverbatim %}
</section>
